[submodule "poky"]
	path = poky
	url = git@github.com:soleen/poky.git
[submodule "linux"]
	path = linux
	url = git@github.com:soleen/linux.git
[submodule "cloud-hypervisor"]
	path = cloud-hypervisor
	url = https://github.com/cloud-hypervisor/cloud-hypervisor.git
